.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  border-bottom: 1px solid black
}

.label-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 10%;
}

.label {
  height: 40%;
  margin-bottom: .2%;
  text-align: center;
  font-size: 1em;
}

.select-and-input {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.filter-type {
  height: 80%;
  width: 12%;
  font-size: 1em;
  border-radius: 20px 0px 0px 20px;
  border: 2px solid darkgreen;
  border-right: 1px solid black;
  text-align: center;
}

.filter-input {
  height: 80%;
  width: 20%;
  font-size: 1em;
  border-radius: 0px 20px 20px 0px;
  border: 2px solid darkgreen;
  border-left: 0;
  text-align: center;
}

.submit-button-container {
  height: 100%;
  width: 10%;
  margin-left: 1%;
}

.submit-filter {
  height: 80%;
  width: 100%;
  font-size: 1em;
  border-radius: 20px;
  background-color: rgba(86, 212, 86);
}

@media (max-width: 580px) {
  .label {
    font-size: .6em;
    width: 100%;
  }

  .filter-type {
    font-size: .7em;
    width: 30%;
  }

  .filter-input {
    font-size: .7em;
    width: 50%;
  }

  .submit-button-container {
    width: 15%;
  }

  .submit-filter {
    font-size: .7em;
  }

  .label-container {
    width: 90%;
    margin-right: 25%;
  }
}