.beer-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
  background-color: rgba(230, 221, 56, 0.5);
}

.top-container {
  display: flex;
  height: 17%;
  width: 90%;
  margin-top: 1%;
}

.name-and-tagline{
  height: 100%;
  width: 40%;
  margin: 0% 10% 0% 4.5%;
  text-align: center;
  border: 2px groove grey;
  border-radius: 10px;
  background-color: white;;
}

.info-name,
.info-tagline {
  height: 50%;
  font-size: 1.3em;
}

.info-name{ 
  padding-top: 3%;
  font-size: 1.7em;
}

.pairing-container {
  height: 100%;
  width: 30%;
  text-align: center;
  border: 2px groove grey;
  border-radius: 10px;
  background-color: white;
}

.pairing-prompt {
  font-size: 1.2em;
  margin: 2% 0% 2% 0%;
}

.food-pairing {
  font-size: .9em;
}

.save-beer-button {
  height: 35%;
  width: 15%;
  margin: 3% 0% 0% 3%;
  border-radius: 20px;
  background-color: rgba(86, 212, 86);
  transition: .2s ease-in;
}

.save-beer-button:hover {
  transform: scale(1.1)
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 90%;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93%;
  width: 48%;
  margin-top: 1.5%;
  border: 2px groove grey;
  border-radius: 10px;
  background-color: white;
}

.ingredients-prompt {
  width: 25%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1%;
  border-bottom: 1px groove grey;
}

.ingredients-prompt,
.yeast-prompt {
  height: 5%;
}

.yeast-prompt,
.malts-prompt,
.hops-prompt {
  width: 25%;
  margin-top: 2%;
  font-size: 1.2em;
  text-align: center;
}

.yeast {
  width: 35%;
  margin-top: 1%;
  text-align: center;
}

.malts-and-hops {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 79%;
  width: 100%;
  margin-top: 1%;
  overflow-y: scroll;
}

.malts-container,
.hops-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.malts,
.hops {
  width: 24%;
  margin: 1% 0% 1% 1%;
  text-align: center;
}

.yeast,
.malts,
.hops {
  border: 1px groove grey;
  border-radius: 10px;
}

.description-and-tips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93%;
  width: 48%;
  margin-top: 1.5%;
  border: 2px groove grey;
  border-radius: 10px;
  background-color: white;
}

.info-description,
.info-brewers-tips {
  text-align: center;
  font-size: 1.2em;
  margin: 3% 6%;
}

@media (max-width: 680px) {
  .bottom-container {
    display: flex;
    flex-direction: column;
  }

  .ingredients-container,
  .description-and-tips-container {
    width: 98%;
    height: auto;
  }

  .beer-info-section {
    overflow-y: scroll;
  }

  .pairing-prompt {
    font-size: .6em;
  }

  .food-pairing {
    font-size: .4em;
  }

  .ingredients-prompt {
    width: 45%;
    height: auto;
  }

  .malts-and-hops {
    overflow: hidden;
  }

  .name-and-tagline {
    width: 50%;
    margin: 0% 3% 0% 0%;
  }

  .info-name {
    font-size: 1em;
  }

  .info-tagline {
    font-size: .8em;
  }

  .save-beer-button {
    height: 60%;
    width: 25%;
  }
}
