.saved-beers-section {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  background-color: rgba(230, 221, 56, 0.5);
}

.no-saved-beers {
  height: 20%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
}

.saved-beer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 60%;
  width: 22.5%;
  margin: 2% 0% 0% 2%;
  border: 2px groove grey;
  border-radius: 10px;
  background-color: white;
}

.saved-beer-name {
  height: 15%;
  width: 90%;
  font-size: 1.5em;
  margin-top: 3%;
}

.saved-beer-tagline,
.saved-beer-stats {
  height: 5%;
  width: 90%;
}

.saved-beer-notes {
  height: 20%;
  width: 90%;
  margin-bottom: 2%;
  border: 1px groove grey;
  border-radius: 10px;
}

.saved-beer-image {
  height: 40%;
  width: 60%;
  border: 2px groove grey;
  border-radius: 10px;
}

.brew-again-button {
  height: 10%;
  width: 40%;
  margin: 2%;
  border-radius: 20px;
  background-color: rgba(86, 212, 86);
  transition: .2s ease-in;
}

.brew-again-button:hover {
  transform: scale(1.1)
}